---
import MainLayout from '../layouts/MainLayout.astro'
import CardRed from '../components/cards/Card-red.astro';
import CardBlue from '../components/cards/Card-blue.astro';
import CardGreen from '../components/cards/Card-green.astro';
import CardYellow from '../components/cards/Card-yellow.astro';
import CardPink from '../components/cards/Card-pink.astro';
import { atom } from 'nanostores'

// export let message = atom("I hate astro")

export let message = "I hate astro"
---

<MainLayout title="Home">
  <div class="flex flex-col m-8">
    <h1 class="mb-10 text-4xl self-center">Overview</h1>
    <div class="grid grid-cols-3 gap-10">
      <CardRed />
      <CardBlue />
      <CardGreen />
      <CardYellow />
      <CardPink />
    </div>
  </div>
</MainLayout>
