---
import specifications from "../assets/specifications.json"
---

<div class="shadow-md bg-white text-black p-8 rounded-md">
  <a href="/showcase">
    <img src="/tumbnails/car-build-mini.png" class="rounded-sm" />
    <h2 class="font-bold mt-6">{specifications.body.brand}</h2>
    <p class="opacity-70">{specifications.body.model}</p>
  </a>
</div>
