---
import specifications from "../assets/specifications"
import {body} from "../components/Car-built"

console.log("bodyyyyy", body);


if(body){
    console.log("CLICKED BODYY")
}
---

<div class=" ">
    <p>Brand: <span>{specifications.body.brand}</span></p>
    <p>Model: <span>{specifications.body.model}</span></p>
    <p>Year: <span>{specifications.body.year}</span></p>
</div>