---
---

<div class="h-screen flex flex-col justify-end">
  <div
    class="absolute z-50 w-screen grid grid-cols-2 shadow-md rounded-md bg-neutral-900 p-8 min-w-[200px]"
  >
    <img class="place-center" src="" alt="mini-model" />
    <div class="flex flex-col justify-center">
      <h1 class="text-2xl">Lowpoly</h1>
      <h2 class="text-xl">V1</h2>
    </div>
  </div>
</div>
