---
import specifications from "../../assets/specifications.json"

// console.log(specifications);


---

<div class="absolute z-40 -bottom-1 flex flex-col justify-end">
  <div
    class="w-screen grid grid-cols-3 shadow-md rounded-md bg-neutral-900 opacity-75 p-2 min-h-full h-40"
  >
    <img class="w-28 self-center ml-4" src="/tumbnails/porsche_911.png" alt="mini-model" />
    <div class="flex flex-col justify-center">
      <h1 class="text-2xl">Porsche</h1>
      <h2 class="text-xl">911 GT3 R 2019</h2>
    </div>
    
  </div>
</div>